#cloud-config

#write_files:
#  - content: |
#      # YO LOOK AT ME
#    path: /YO_FILE

users:
  - default
  - name: michael
    ssh_import_id:
      - gh:michael-odell
    groups: sudo
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash

package_update: true
package_upgrade: true


ansible:
  install_method: distro
  package_name: ansible-core
  pull:
    url: https://github.com/michael-odell/homelab.git
    checkout: main
    playbook_name: nodes/ansible/playbooks/cloud-init.yaml
